body {
  background-image: url(./Images/Sky01.jpg);
  background-size: auto;
  background-repeat: repeat;
}

.IndexImage {
  position: fixed;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  /* background-color: lightcyan; */

  background-image: url(./Images/index.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 80%;
}

.NavbarButton {
  /* button properties */
  height: 20px;
  background: rgba(255, 255, 255, 0);
  padding: 1.2rem 0rem;
  cursor: pointer;
  box-shadow: 2px 2px black;

  /* outline properties */
  outline-color: black;
  outline-width: 0.1rem;
  outline-style: solid;
  outline-offset: -0.5rem;
}

.NavbarButton:hover {
  box-shadow: 4px 4px black;
}

.NavbarText {
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
  top: 0.75rem;
  /* background-color: white; */

  font-weight: 900;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-family: Courier, monospace;
  font-size: 2rem;
}

#Enter {
  position: fixed;
  width: 20vw;
  left: 40vw;
  top: 80vh;
}

.BodyDiv {
  position: fixed;
  width: 100vw;
  left: 0;
  background: none;
}

.BodyText {
  position: fixed;
  width: inherit;
  text-align: center;
}

#Heading {
  top: 5vh;
  font-weight: 550;
  letter-spacing: 0.05rem;
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-size: 2.2rem;
}

/* #Heading:hover {
  top: 4.5vh;
  letter-spacing: 0.07rem;
  font-weight: 570;
  font-size: 2.4rem;
} */

#Paragraph {
  top: 53vh;
  letter-spacing: 0.3rem;
  font-weight: 550;
  line-height: 1.75rem;
  color: rgba(0, 0, 0, 1);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.1rem;
}

#Paragraph:hover {
  top: 52.5vh;
  letter-spacing: 0.4rem;
  font-weight: 570;
  line-height: 1.85rem;
  font-size: 1.2rem;
}
